<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>iphone</string>
	<key>API_SECRET</key>
	<string>QdPOAhSAvGNQF4LXto48K6GVuY4EIi1i</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>icon_120</string>
				<string>icon</string>
			</array>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>net.phact.${PRODUCT_NAME:rfc1034identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>GENERAL_REALM</key>
	<string>general@api.phact.me</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>OpenProviderConfiguration</key>
	<dict>
		<key>Facebook</key>
		<dict>
			<key>AppID</key>
			<string>1385312591714334</string>
		</dict>
	</dict>
	<key>PRIVATE_REALM</key>
	<string>user@phact.me</string>
	<key>SECRET_KEY</key>
	<string>lzhQTGC7PBjUUNIRy2QTqoZbqiJp2vh8</string>
	<key>SERVICE_URL</key>
	<string>http://api.phact.net</string>
	<key>HockeyApp</key>
	<dict>
		<key>BetaAppID</key>
		<string>1c7ce63c956ea2e1fed080faa403a3e2</string>
		<key>LiveAppID</key>
		<string>f60bb6ec101429f3ffbbeef1be5b9a1c</string>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>CoconOT-Regular.otf</string>
		<string>Gotham-Medium.otf</string>
		<string>NewsGothic_Lights.otf</string>
	</array>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleBlackOpaque</string>
	<key>UIStatusBarTintParameters</key>
	<dict>
		<key>UINavigationBar</key>
		<dict>
			<key>Style</key>
			<string>UIBarStyleDefault</string>
			<key>Translucent</key>
			<false/>
		</dict>
	</dict>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIPrerenderedIcon</key>
	<true/>
</dict>
</plist>
